#{extends 'main.html' /}
#{set title:'Home' /}
<html>
<head>
<link type="text/css" rel="stylesheet" href="/public/css/market.css">
<style type="text/css">
body.test1 {margin:20px auto;text-align:center;}
table {border:1px solid blue; width:800px;padding-left: 1cm;align=center;margin: auto;}
th,td {border:1px solid blue }
</style>
</head>
<body class="test1">
#{if applist.size()}
	<h1>Your apps are:</h1>
	<a href="http://localhost:8080/IfApp/accessTokenServlet">config your apps</a>
     <div id="applist">
 	#{list items:applist, as:'app'}
		
	<div class="appitem" style="height: 70px; width: 792px; position:relative ;left:5%; margin: 3px; overflow: hidden ">
		<img class = "apptitle" src = ${app.logourl} style="position:absolute ;left:10px;top:10px;width:50px;height:50px">
		</img>
		<div class = "apptitle" style="position:absolute ;left:70px;top:21px;">
			<a style="position:absolute ;left:8px;top:7px" href="${app.installUrl}">${app.name}</a>
		</div>
		<div class = "appowner" style="position:absolute ;left:633px;top:49px;">
			Owner : somebody
		</div>
		<div class = "appscore" style="position:absolute ;left:633px;top:21px;">
			Score : 10.0
		</div>
		<div class = "appscore" style="position:absolute ;left:70px;top:80px; width:600px">
			Decription : ${app.decription}
		</div>
		<div class = "appitem" style="position:absolute ;left:633px;top:120px; width:100px;height:30px">
			<a style="position:absolute ;left:8px;top:7px" href="@{AppController.listApp(app)}">Install Now!</a>
		</div>
	</div>
    #{/list}
	</div>
#{/if}
#{else}
    <h3>You have got no app!<h3>
#{/else}

<div style="margin:20px;">
	<a href="@{AppController.listAllApps()}">Add More!</a>
</div>
</body>
</html>
