#{extends 'main.html' /}
#{set title:'Home' /}


<a style="text-align:center;font-size:100px;"href="javascript:void(document.body.appendChild(document.createElement('script')).src='http://internetrt.org:9000/assets/client/installRootApp.js');">Install Market</a>
</br>
<body style="text-align:center;font-size:20px;">
 if you have not installed market,please install market.otherwise <a href="@{AppController.listallapps()}">click here</a>.
</body>
<script type="text/javascript" charset="${_response_encoding}">
    sessvars.$.clearMem()
</script>
