<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <style type="text/css">
        .warpper {margin:20px;padding:30px;}
        table {border:1px solid blue; width:800px;padding-left: 1cm;align:center;margin: auto;}
        th,td {border:1px solid blue }
        #signals {font-size:0.5em}
        .listenerdiv {border:1px solid; margin:10px; padding:10px} 
    </style>
</head>
#{extends 'main.html' /}
#{set title:'Home' /}
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../../public/javascripts/jquery-ui-1.8.22.custom.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/public/css/smoothness/jquery-ui-1.8.22.custom.css">
    <script>
        try{
            var irturl = "http://localhost:9000";
            var marketurl ="http://localhost:9001";

            function param(obj,value){
                if (value=="key") {
                    obj.show();
                    obj.val( "input new key");
                }

                else if (value=="expression") {
                    obj.show();
                    obj.val( "input expression");
                }
                else {
                    obj.val(value);
                    obj.hide();
                }
                return
            }
            function addpara(obj){

                var params = $('<div class="params"><label>key</label><input type="text" name="key"></br><label>value</label></div>');


                var select = $('<select><option value ="<var></var>">the var in the signal</option><option value ="key">new key</option><option value ="<var><ID></ID></var>">RoutingInstanceID</option><option value ="expression" >Expression</option></select>');
                var input = $('<input name="value" type="text"/>');


                input.hide();
                select.change(function(){  param($(this).siblings("input[name='value']"),$(this).val())})

                $(params).append(select);
                $(params).append(input);
                $(obj).append(params);


                return obj;
            }
			
			function addanchor(obj){
				var anchor = $('<div class="anchor"><label>Expression</label><input type="text" name="expression"/></div>');
				
				$(obj).append(anchor);
				
				return obj;
			}
			
            $(function() {


                Array.prototype.in_array = function(e)
                {
                    for(i=0;i<this.length;i++)
                    {
                        if(this[i] == e)
                            return true;
                    }
                    return false;
                }

                var availableTags = ${signaldefs}

                    // $( ".button" ).button();
                        $( "#addsignal").button();
                        $( "#addsignal").click(function() {
                            $("#signals")
                                    .append('<div><label>Runat</label><select name="runat"><option value ="userinterface">userinterface</option><option value ="${id}">Appid</option></select></br><label>Signalname</label><input type="text" name="signalname""></div></br>'
                            );

                            var availableTags = ${signaldefs}
                                    $("#signals div").each(function(index,Element){
                                        $(Element).find("input[name='signalname']").autocomplete({
                                            source:availableTags
                                        });

                                        $(Element).find("input[name='signalname']").blur(function(){

                                            if (!availableTags.in_array($(Element).find("input[name='signalname']").val())) {alert("This signal does not defined");window.location.href="addsignal";}
                                        });



                                    });


                        });

                $("#addrequestAccesses").click(function(){
                    $("#requestAccesses").append('<input type="text" name="requestAccess" value="'+$("#newrequest").val()+'"/><br/>')
                });

                $("#addlistener").button();
                $("#addlistener").click(function() {
                    var obj = $('<div name="listener" class="listenerdiv"><select name="listener"><option value ="RequestListener">RequestListener</option><option value ="EventListener">EventListener</option><option value ="RequestListener">PipeListener</option></select></br><label>Description</label><input type="text" name="description"></br><label>Url</label><input type="text" name="url"></br><label>Signalname</label><input type="text" name="signalname"></br>' +
                            '<a class="button">AddPara</a></br>' +
							'<a class="button">AddAnchor</a></div></br>');
                    $(obj).find("a:eq(0)").button();
                    $(obj).find("a:eq(0)").click(function(){addpara(obj);});
					$(obj).find("a:eq(1)").button();
					$(obj).find("a:eq(1)").click(function(){addanchor(obj);});
					$(obj).find("a:eq(1)").Enable="disable";
                    $("#signalhandler") .append(obj);

                    var availableTags = ${signaldefs}
                            $("#signalhandler div").each(function(index,Element){
                                $(Element).find("input[name='signalname']").autocomplete({
                                    source:availableTags
                                });

                                $(Element).find("input[name='signalname']").blur(function(){

                                    if (!availableTags.in_array($(Element).find("input[name='signalname']").val())) {alert("This signal does not defined");window.location.href="addsignal";}
                                });



                            });

                });
                $("#send").button();
                $("#send").click(function(){

                    var xml = '<?xml version="1.0" encoding="UTF-8"?>'+
                                    '<Application>'+
                                    '<Name>'+$("input[name='name']").val()+'</Name>'+
                                    '<AppID>'+"${id}"+'</AppID>'+
                                    '<AppOwner>'+$("input[name='appowner']").val()+'</AppOwner>'+
                                    '<LogoUrl>'+$("input[name='logourl']").val()+'</LogoUrl>'+
                                    '<Description>'+$("textarea[name='description']").val()+'</Description>'
                            ;

                    xml += "<AccessRequests>"
                    $("#requestAccesses input[name='requestAccess']").each(function(index,Element){
                        xml+= '<AccessRequest>' + $(Element).val() + '</AccessRequest>'
                    });
                    xml += "</AccessRequests>"

                    xml += '<Signals>';
                    $("#signals div").each(function(index,Element){
                        xml+='<Request runat="'+$(Element).find("select").val()+'"><Signalname>'+$(Element).find("input[name='signalname']").val()+'</Signalname><Description>Share request. Response should share the signal to somewhere.</Description><Require>Response should share the signal to somewhere</Require></Request>';
                        //eval($.get(irturl+"/signal/querydef/"+$(Element).find("input[name='signalname']").val(),{ format: "json"})).Description
                    })
                    xml+='</Signals>'+
                            '<SignalHanlders>';
                    $("#signalhandler").find('div[name="listener"]').each(function(index,ele){
                        xml+='<'+$(ele).find("select[name='listener']").val()+' type="httpget" runat="${id}">'+
                                '<Description>'+$(ele).find("input[name='description']").val() +'</Description>'+
                                '<URL id="1">'+$(ele).find("input[name='url']").val() +'</URL>'+
                                '<Adapter>'+
                                '<Signalname id="1">'+$(ele).find("input[name='signalname']").val()+'</Signalname>'+
                                '<params>';
                        $(ele).find("div.params").each(function(index,ele){
                            var value = $(ele).find("select").val()
                            var key = $(ele).find("input[name='key']").val()
                            var inputvalue = $(ele).find("input[name='value']").val()

                            if (value=="key") { value = "<var><newkey>"+inputvalue+"</newkey></var>"   }
                            else if (value=="const") { value = inputvalue	}
                            xml+= '<param><key>'+key+'</key><value>'+value+'</value></param>'
                        })

                        xml+='</params> '
						anchor = $(ele).find("div.anchor").find("input[name='expression']").val()
						if (anchor){
								xml+= '<anchor><value>'+anchor +'</value></anchor>'
						}
						xml+= '</Adapter>'+
                                '</'+$(ele).find("select[name='listener']").val()+'>';
                        ;

                    })

                    xml+= '</SignalHanlders>'+
                            '</Application>';
							

                    $.post(marketurl+"/admincontroller/addappsavexml",{information:xml,id:"${id}",secret:"${secret}",email:$("input[name='email']").val()
                        ,installUrl:$("input[name='installurl']").val(),updateurl:$("input[name='updateurl']").val(),
                        logourl:$("input[name='logourl']").val()},function(data){
                        window.location.href="welcome";
                    });

                })

            });

        }catch(e){
            alert(e)
        }
    </script>
</head>
<body>
<div class="warpper">
    <h1>Add a new appliacation here!</h1>
    <h3> Your Appid:${id} </h3><h3>Your Secret:${secret}</h3>

    <div>
        <div id="attribute">
            <label>Name</label> <input type="text" name="name"></br>
            <label>AppOwner</label> <input type="text" name="appowner"></br>
            <label>homeurl</label> <input type="text" name="installurl"></br>
        </div>
        <hr/>
        <div id="signals">

        </div>

        <div id="requestAccesses">
            <a class="button" id="addrequestAccesses">Add Request Accesses</a>:
            <select id="newrequest">
                <option value ="getApplications">getApplications</option>
            </select>
        </div>

        <a class="button" id="addsignal">Add Signal</a>
        <hr/>
        <div id= "signalhandler">

        </div>
        <a class="button" id="addlistener">Add listener</a>

        <hr/>
        <div id="optional">
            <h4>optional attributes</h4>
            <label>updateurl</label> <input type="text" name="updateurl"></br>
            <label>email</label> <input type="text" name="email"></br>
            <label>logourl</label> <input type="text" name="logourl"></br>
            <label>description</label> <textarea name="description"></textarea>
        </div>
        <hr/>
    </div>
    <a class="button" id="send">Submit</a>
</div>
</body>
</html>