<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
#{extends 'main.html' /}
<style type="text/css">
body{margin:auto;text-align:left;}
</style>
<html>

  <head>
    <title>recomRoutingBaseFrom.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body onload>
  <div style="padding:30px;">
  <h1>Which connection would you like to establish.</h1>
  #{form @RoutingRecomController.ConfirmRecomRouting()}
  <table style="text-align:center;">

   <input type="hidden" name="redirect_uri" value="${redirect_uri}"/>
	  <tr>
		<th>check</th>
		<th>from</th>
		<th>to</th>
	  </tr>
 	#{list items:choices, as:'choice'}
	  <tr>
              <td> <input type="checkbox" name="choices" value="${choice.routing}" checked/> </td>
              <td> <span alt="${choice.signalDescription}">${choice.signalName}@${choice.signalAppName}</span></td>
              <td> <span alt="${choice.listenerDescription}">${choice.listenerAppName}<br/> </td>
	  </tr>
    #{/list}
	</table>
    <input type = "submit" value = "confirm">
  #{/form}
  </div>
  </body>
</html>
