<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>accessTokenServlet</servlet-name>
    <servlet-class>accessTokenServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GenXmlStringServlet</servlet-name>
    <servlet-class>GenXmlStringServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GenRoutingServlet</servlet-name>
    <servlet-class>GenRoutingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAppsServlet</servlet-name>
    <servlet-class>GetAppsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RestoreRoutingServlet</servlet-name>
    <servlet-class>RestoreRoutingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InstallRootAppServlet</servlet-name>
    <servlet-class>InstallRootAppServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ToGetAccessToken</servlet-name>
    <servlet-class>RoutingRecommend.ToGetAccessToken</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>accessTokenServlet</servlet-name>
    <url-pattern>/servlet/accessTokenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenXmlStringServlet</servlet-name>
    <url-pattern>/servlet/GenXmlStringServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenRoutingServlet</servlet-name>
    <url-pattern>/servlet/GenRoutingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAppsServlet</servlet-name>
    <url-pattern>/servlet/GetAppsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestoreRoutingServlet</servlet-name>
    <url-pattern>/servlet/RestoreRoutingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InstallRootAppServlet</servlet-name>
    <url-pattern>/servlet/InstallRootAppServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToGetAccessToken</servlet-name>
    <url-pattern>/servlet/ToGetAccessToken</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
