<html>
<head>
<link rel="stylesheet" href="@routes.Assets.at("css/custom-theme/jquery-ui-1.8.21.custom.css")">
<script src="@routes.Assets.at("js/jquery-1.7.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/jquery-ui-1.8.21.custom.min.js")" type="text/javascript"></script>
<style>
.wrapper {
	width: 960px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 60px 0;
}
.top {
	background: #9DD745;
	box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.1) inset;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 30px 0;
	text-align:center
}
div{
	padding : 10px;
	margin: 4px;
}
#inputdiv{
	padding : 10px;
	margin: 4px;
	text-align:center
}
</style>
<script>
$(function() {
	$( ".btn" ).button();
});
</script>
</head>
<body>

<div class="top">
Welcome to Internet Runtime
</div>
<div class="wrapper">
InternetRT enalbe the running of internet workflow protocal along with the global oauth service.
<div class="ui-widget-content">
<h2>For developers:</h2>
<div>
Download the SDK here. Give your application the ability to be award of the Internet. Focus on your demand and leave the rest happen in your consumer's own perference.<br/> 
</div>
</div>
<div class="ui-widget-content"/>
<h2>For users:</h2>
<div>
Login the Internet, install the appilcations you're intrested in, and the Internet will serve you as a federated Intelligent.<br/>

Please <a class="btn" href="/clients/login">Login</a>/<a class="btn" href="/clients/register">Register</a> a user as your global identification first 

There're some organizations can help you to configuration your Internet.
<a href="http://market.internetrt.org:9001/">Black Market</a>
</div>
</div>
</div>
</body> 
</html>