<div style="text-align: center">
<h1 style="font: 24px arial">Root Appliacation Install Confirmation</h1>
</div>
<div style=" font: 15px arial">
Are you sure to install root application "APP STORE" to your InternetRuntime?It will get permit to organize your other applications of InternetRuntime.
</div>
<form id="install" action="/clients/installapp" method="post">
<textarea name="xml" style="display: none"><Application><Name>ScriptEditor</Name><AppID>aa373731-babf-4b2b-bee3-ecc4f796adb6</AppID><AccessRequests><AccessRequest>getApplications</AccessRequest></AccessRequests><RequestListener type="httpget" runat="aa373731-babf-4b2b-bee3-ecc4f796adb6"><Description>install app for the signal</Description><URL id="1">http://market.internetrt.org:9001/appcontroller/listAppBySignalName</URL><Adapter><Signalname id="1">extendsignal</Signalname><params><param><key>singalname</key><value><var></var></value></param></params><RequestListener type="httpget" runat="c660bce7-9347-4ff7-a771-5d1ead1530a5"><Description>install app for the signal</Description><URL id="1">http://market.internetrt.org:9001/appcontroller/listAppBySignalName</URL><Adapter><Signalname id="1">extendsignal</Signalname><params><param><key>singalname</key><value><var></var></value></param></params> </Adapter></RequestListener></Adapter></RequestListener></Application>
</textarea>
</form>
<div style="font: 20px arial; left: 100px; top 130px">
Root Aplication Install Success.Enjoy it!
</div>
