.appitem {
	*color : #DCE9F9;
	background-image : -moz-linear-gradient(center top , #EBF3FC, #DCE9F9);
	background-image : -webkit-gradient(linear,0% 0%, 0% 100%, from(#EBF3FC), to(#DCE9F9));
	box-shadow : 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	*border : 1px solid #CCCCCC;
	border-radius : 6px 6px 6px 6px;
	padding : 0px;
	margin : 0px;
	
}
.apptitle{
	font : 24px arial;
}
.appowner{
	font : 12px arial;
	opacity: 0.7;
}

.appscore{
	font : 18px arial;
}
